## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(123)

int

---

## Variables

### Assigning a variable

In [2]:
variable = 5 + 4
print(variable)

9

In [3]:
variable += 6

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

In [4]:
a = 6
b = 4
print(a + b)

10

### Updating a variable

In [6]:
x = 1
print(x)

x = x + 1
print(x)

x = x * 3 + x
print(x)

1
2
8

In [25]:
number = 6

In [26]:
number = number + 1
print(number)

7

#### Example: Running a cell multiple times

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [27]:
5 != 7

True

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [36]:
is_first_of_month = True
report_sent = False

In [40]:
should_process_report = is_first_of_month and not report_sent
should_process_report

True



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

### Operations with strings

### Examples

In [42]:
```SQL
SELECT *
FROM employees;
```

SyntaxError: invalid syntax (687965248.py, line 1)

### Formatting strings

In [44]:
my_name = 'Adam'

In [50]:
'Hello, %s!' % my_name

'Hello, Adam!'

In [51]:
'Hello, {}!'.format(my_name)

'Hello, Adam!'

In [52]:
f'Hello, {my_name}!'

'Hello, Adam!'

### Examples

In [58]:
s = '    Hello, world!  '

In [64]:
s.lower()

'    hello, world!  '

In [63]:
print(s)

    hello, world!

In [65]:
s.strip()

'hello, world!'

In [43]:
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [66]:
a = '123'

In [67]:
a.isdigit()

True

In [68]:
b = '123 Sesame street'

In [69]:
b.isdigit()

False

In [70]:
b.split(' ')

['123', 'Sesame', 'street']

In [72]:
b.upper().split()

['123', 'SESAME', 'STREET']

In [73]:
', '.join(['one', 'two', 'three'])

'one, two, three'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

---

## Lists

### Creating a list

In [76]:
num_list = [1, 2, 3]
num_list

[1, 2, 3]

In [78]:
string_list = ['one', 'two', 'three']

In [79]:
string_list

['one', 'two', 'three']

In [81]:
print(num_list)
print(string_list)

[1, 2, 3]
['one', 'two', 'three']

In [85]:
list_of_list = [ [1, 2, 3], ['one', 'two', 'three'], [4, 5, 6], [True, True, False]]

In [86]:
list_of_list

[[1, 2, 3], ['one', 'two', 'three'], [4, 5, 6], [True, True, False]]

### List comprehensions

In [87]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
[n * 2 for n in range(10)] #good way to produce even values

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

### List Operations

In [91]:
numbers_list = [1, 2, 3]

In [100]:
#add 4 to list
numbers_list.append(4)

In [93]:
numbers_list

[1, 2, 3, 4]

In [94]:
numbers_list.pop()

4

In [95]:
numbers_list

[1, 2, 3]

In [102]:
numbers_list.pop(2)

3

In [103]:
numbers_list

[1, 2, 4]

In [104]:
len(numbers_list)

3

In [105]:
numbers_list[1]

2

In [106]:
numbers_list.append(5)
numbers_list.append(6)
numbers_list.append(7)

In [107]:
len(numbers_list)

6

In [108]:
numbers_list[:2]

[1, 2]

In [109]:
numbers_list[::]

[1, 2, 4, 5, 6, 7]

In [110]:
numbers_list[-2]

6

In [111]:
numbers_list[-4:]

[4, 5, 6, 7]

In [112]:
numbers_list[4:]

[6, 7]

In [113]:
numbers_list[4:5]

[6]

In [115]:
numbers_list[4:6]

[6, 7]

In [117]:
numbers_list[4:70]

[6, 7]

In [119]:
list('a bcde') ## will convert every char to item in list

['a', ' ', 'b', 'c', 'd', 'e']

In [120]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
my_numbers = [1, 2, 3, 4, 5]

list(map(str, my_numbers))  ## converts numbers to strings 
                            ## the map function applies the str() function to each element
                            ## then plugs these strings into list

['1', '2', '3', '4', '5']

---

## Tuples

In [127]:
my_tuple = (1, 2, 3)

In [128]:
type(my_tuple)

tuple

In [129]:
my_tuple[1]

2


---

## Dictionaries

In [130]:
my_dictionary = {
    'name' : 'Codeup',
    'age' : '9'
}

In [131]:
my_dictionary

{'name': 'Codeup', 'age': '9'}

In [135]:
my_again = dict(name = ['Codeup', 'bob', 'bill'], age = 9)

### Creating a dictionary

### Accessing dictionary values

In [151]:
my_dictionary['name']

'Codeup'

In [152]:
my_again['name']

['Codeup', 'bob', 'bill']

In [158]:
my_again['age'] += 1

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [160]:
int('bab', 16)

2987

In [163]:
str(a)

'123'

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [167]:
name = input('What is your name? ')
print(f'Hello, {name}')

What is your name? jsofij
Hello, jsofij

In [169]:
first_number = int(input('what is the first number?'))
second_number = int(input('what is the second number?'))

what is the first number?4
what is the second number?7

In [171]:
sum_nums = first_number + second_number
sum_nums

11